In [1]:
import pandas as pd

In [4]:
df_primaria = pd.read_csv('data/UNdata_Export_Primaria.csv')
df_primaria

,Area,Año,NivelEducacion,UnidadMedida,GastoEducacion
0,Andorra,2014,Primaria,Percent,22.13474
1,Andorra,2013,Primaria,Percent,32.11786
2,Andorra,2011,Primaria,Percent,28.73829
3,Andorra,2010,Primaria,Percent,28.73565
4,Andorra,2009,Primaria,Percent,26.32029
...,...,...,...,...,...
998,Venezuela (Bolivarian Republic of),2006,Primaria,Percent,29.97792
999,Viet Nam,2010,Primaria,Percent,31.19659
1000,Zambia,2005,Primaria,Percent,59.42169
1001,Zambia,2004,Primaria,Percent,63.53759
1002,Zimbabwe,2010,Primaria,Percent,53.22566

In [5]:
df_secundaria = pd.read_csv('data/UNdata_Export_Secundaria.csv')
df_secundaria

,Area,Año,NivelEducacion,UnidadMedida,GastoEducacion
0,Andorra,2014,Secundaria,Percent,20.30919
1,Andorra,2013,Secundaria,Percent,35.23860
2,Andorra,2011,Secundaria,Percent,21.28830
3,Andorra,2010,Secundaria,Percent,20.81942
4,Andorra,2009,Secundaria,Percent,26.12019
...,...,...,...,...,...
991,Venezuela (Bolivarian Republic of),2006,Secundaria,Percent,18.43734
992,Viet Nam,2010,Secundaria,Percent,38.80008
993,Zambia,2005,Secundaria,Percent,14.60998
994,Zambia,2004,Secundaria,Percent,13.42095
995,Zimbabwe,2010,Secundaria,Percent,25.77975

# Concatenación

In [7]:
pd.concat([df_primaria, df_secundaria])

,Area,Año,NivelEducacion,UnidadMedida,GastoEducacion
0,Andorra,2014,Primaria,Percent,22.13474
1,Andorra,2013,Primaria,Percent,32.11786
2,Andorra,2011,Primaria,Percent,28.73829
3,Andorra,2010,Primaria,Percent,28.73565
4,Andorra,2009,Primaria,Percent,26.32029
...,...,...,...,...,...
991,Venezuela (Bolivarian Republic of),2006,Secundaria,Percent,18.43734
992,Viet Nam,2010,Secundaria,Percent,38.80008
993,Zambia,2005,Secundaria,Percent,14.60998
994,Zambia,2004,Secundaria,Percent,13.42095
995,Zimbabwe,2010,Secundaria,Percent,25.77975

In [8]:
# A nivel de columna
pd.concat([df_primaria, df_secundaria], axis=1)

,Area,Año,NivelEducacion,UnidadMedida,GastoEducacion,Area,Año,NivelEducacion,UnidadMedida,GastoEducacion
0,Andorra,2014,Primaria,Percent,22.13474,Andorra,2014.0,Secundaria,Percent,20.30919
1,Andorra,2013,Primaria,Percent,32.11786,Andorra,2013.0,Secundaria,Percent,35.23860
2,Andorra,2011,Primaria,Percent,28.73829,Andorra,2011.0,Secundaria,Percent,21.28830
3,Andorra,2010,Primaria,Percent,28.73565,Andorra,2010.0,Secundaria,Percent,20.81942
4,Andorra,2009,Primaria,Percent,26.32029,Andorra,2009.0,Secundaria,Percent,26.12019
...,...,...,...,...,...,...,...,...,...,...
998,Venezuela (Bolivarian Republic of),2006,Primaria,Percent,29.97792,NaN,NaN,NaN,NaN,NaN
999,Viet Nam,2010,Primaria,Percent,31.19659,NaN,NaN,NaN,NaN,NaN
1000,Zambia,2005,Primaria,Percent,59.42169,NaN,NaN,NaN,NaN,NaN
1001,Zambia,2004,Primaria,Percent,63.53759,NaN,NaN,NaN,NaN,NaN
1002,Zimbabwe,2010,Primaria,Percent,53.22566,NaN,NaN,NaN,NaN,NaN

## Fusión - Unión (Join)

#### Método merge() | Permite realizar uniones entre dataframes tal y como se realizan en bases de datos.